@import helper/variables
@import helper/media
@import helper/helper

@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css")

$main: #2a5298
$black: #414345

*, *::before, *::after
  box-sizing: border-box

body
  background: #f5fbff
  letter-spacing: 1.5px
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", "MingLiU", "sans-serif", serif

img
  display: block
  max-width: 100%
  height: auto

.hide-desktop-up
  display: none !important
+m-768
  .hide-desktop-up
    display: block !important

// nav
@import modules/nav

// 內容
.contents-wrap
  position: absolute 0
  z-index: 1
  margin-left: 250px
  padding: 1rem

+m-768
  .contents-wrap
    margin-left: 0