@import helper/variables
@import helper/media
@import helper/helper

@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css")

$main: #2a5298

*, *::before, *::after
  box-sizing: border-box

body
  background: #f5fbff
  letter-spacing: 1.5px
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", "MingLiU", "sans-serif", serif

img
  display: block
  max-width: 100%
  height: auto

.hide-desktop-up
  display: none !important
+m-768
  .hide-desktop-up
    display: block !important


// 左側導覽列
.navbar-wrap
  position: fixed
  top: 0
  left: 0
  bottom: 0
  z-index: 998
  width: 250px
  height: 100%
  overflow-y: auto
  background: linear-gradient(to top, #1e3c72 0%,#2a5298 100%)
  color: rgba(#FFF, .87)

  .burger-button
    position: fixed
    right: 260px
    span
      display: block
      margin: $px6 0
      width: $px42
      height: 3px
      background: $main

  // 大頭照
  .avatar
    padding: 1rem
    img
      margin: 0 auto
      max-width: 120px
      border: 1px solid #1e3c72
      border-radius: 50%
    figcaption
      line-height: 2
      text-align: center
      font-size: 2rem
      font-weight: 200
  
  // ga pageviews
  .analytics
    display: flex
    justify-content: space-around
    align-items: center
    padding: 1rem 0
    font-weight: 200
    .views, .email
      display: flex
      flex-direction: column
      align-items: center
    a
      color: inherit
    .svg-inline--fa
      font-size: 2.5rem
  
  // nav
  .navbar
    padding: 1rem 0
    a
      display: block
      padding: 1rem
      overflow: hidden
      text-transform: capitalize
      text-decoration: none
      color: rgba(#FFF, .87)
      transition: $transition-default
      &:hover
        background: rgba(#000, .2)
        color: #FFF

    .main-links .svg-inline--fa
      margin-right: 1rem
      font-size: $px20
    .social-links .svg-inline--fa
      font-size: $px32
    
    .social-links
      display: flex
      justify-content: space-around
      padding: 0 .2rem
      a
        padding: $px12
        border-radius: $px6

    .divider
      padding: 1rem
      font-size: $px12
      font-weight: 200
      color: rgba(#FFF, .54)
      ~ .divider
        margin-top: 2rem

+m-768
  .navbar-wrap

// 內容
.contents-wrap
  position: absolute 0
  z-index: 1
  margin-left: 250px
  padding: 1rem

+m-768
  .contents-wrap
    margin-left: 0