extends template

block config
  - var pageTitle = 'Github 專案頁面模版'
  - var description = 'Github 專案頁面模版'
  - var fburl = 'https://auguston.github.io/0-sample-github/'
  - var fbImg = 'https://auguston.github.io/0-sample-github/contents/img/fb.jpg'
  - var keywords = 'github, template, plugin'

block main
  .chapter-title
    h1 功能名稱功能名稱功能名稱
    p 功能中文簡述功能中文簡述功能中文簡述功能中文簡述
    p This plugin English info. This plugin English info. This plugin English info.

  .contents
    h2 標題2標題2標題2標題2標題2標題2標題2
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明

    h2 標題2標題2標題2標題2標題2標題2標題2
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明
    h3 標題3標題3標題3標題3標題3標題3
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明
    p 中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明中文說明

    h2 code範例
    .code-wrap
      pre.prettyprint
        code.language-js
          | &lt;script src="https://code.jquery.com/jquery-3.1.1.min.js"></>
          | &lt;script src="contents/js/main.min.js"></script>
          | 
          | // use the plugin
          | &lt;script>
          |   const config = {
          |     duration: 300,
          |     delay: 400
          |   };
          |   Waves.init(config);
          |   Waves.attach('.js-nav-wave a', ['waves-light']);
          | &lt;/script>
    
    h2 加入影音
    .iframe-wrap
      iframe(src="https://www.youtube.com/embed/YygVVvuIWm4", frameborder="0", allowfullscreen)